* {
  margin: 0;
  padding: 0;
  background-color: grey;
}

h2 {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

h3 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

h4 {
  margin-top: 30px;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

button {
  font-size: 20px;
  background-color: lime;
  color: red;
  margin: 2px;
  width: 50px;
  height: 50px;
}

input {
  background-color: rgb(158, 155, 155);
  font-size: 20px;
  margin: 2px;
  width: 100px;
  height: 50px;
}

.answer {
  margin-top: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  font-size: 25px;
  list-style-type: none;
  text-align: center;
}
